body 
{ 
    font-family: 'Almarai', sans-serif;

}
.home 
{
    height: 90vh;
    background-image: url(../img/bb.jpg);
    background-size: cover;
} 
svg
{
    margin-top: 20rem;
}
.navbar .nav-link
{
    padding: 25px !important;
    color: #fff !important;
    transition: all 0.5s;
}
.nav-link:hover
{
    color:#4CB1F7 !important;
}
#services
{
    margin-top: 10rem;
    margin-bottom: 5rem;
}
#services i 
{
    color:#0339A6;
}
#services h4
{
    color: #0554F2;
}
.photo img 
{
    width: 65%;
    position: absolute;
    left: 20%;
    bottom: 20%;;
}
.photoo img 
{
    width: 75%;
    position: absolute;
    left: 18%;
    bottom: 20%;;
}
.photoz img 
{
    width: 77%;
    position: absolute;
    left: 18%;
    bottom: 25%;
}
.fcol
{
    font-size: 60px;
}
#branches
{
    margin-top: 5rem;
    margin-bottom: 5rem;
    
}
.fab
{
    transition: 0.5s;
}
.fab:hover
{
    color: #09c;
}

.wd
{
    width: 630px;
}

